$colors: (
  success: #11cc00,
  danger: #dd1010,
  primary: #45b1e5,
  warning: #ffe52b,
  info: #6bddef,
);

.btn {
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s all ease;
  cursor: pointer;
  &-block {
    width: 100%;
  }
}

@mixin outlined-btn($convenient-color) {
  &.btn-outline {
    background-color: white;
    border: 1px solid $convenient-color;
    color: $convenient-color;
    &:hover {
      color: white;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: white;
      color: lighten($convenient-color, 30%);
      &:hover {
        background-color: #fcfcfc;
      }
    }
  }
}

@each $key, $value in $colors {
  $convenient-color: map-get($colors, $key);
  .btn {
    &-#{$key} {
      color: white;
      background-color: $convenient-color;
      border: 1px solid $convenient-color;
      @include outlined-btn($convenient-color);
      &:hover {
        background-color: darken($convenient-color, 5%);
      }
      &:disabled {
        cursor: not-allowed;
        background-color: lighten($convenient-color, 30%);
        border: 1px solid lighten($convenient-color, 30%);
      }
    }
  }
}
